<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1><%= title %></h1>
        <% projects.forEach(function(a) { %>
          <div class="card">
            <%= a.title %>
            <a href="/projects/<%= project.id %>"><%= a.title %></a>
          </div>
        <% }) %>
      </ul>
      </div>
    </section>
  </body>
</html>
